@import './colors.scss';

.btn-orange{
    color: #fff;
    padding-left: 30px; 
    padding-right: 30px; 
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: rgb(255, 142, 1) !important;
    font-size: .8rem;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
}
.btn-orange:hover {
    background-color: rgb(218, 103, 20) !important;
    text-decoration: none;
  }

  
 