
@import "./colors.scss";
* {
  margin: 0;
  padding: 0;
  }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  color: #1ce01c;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  
    monospace;
}
.nav-padding{
  padding-top: 50px;
}
.img-responsive {
    width: auto;
    max-height: 300px !important;
}
.col1-thumbnail {
  position: relative;
  overflow: hidden;
  width: 126px;
  height: 126px;
}
#quantity{
  min-width: 60px !important;
  max-width: 60px !important;
  background-color: transparent;
  border: 0px solid;
}
#quantity:focus{
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tabs{
  display: flex;
  
}
.tabs li{
  border-top: 5px solid transparent;
  padding-top:5px;
}
.tabs li.active {
  border-top: 5px solid $orange;

  color: #000;

}
