@import './colors.scss';

.text-yellow{
    color: $yellow !important;
}
.text-orange{
    color: $orange !important;
}
.text-grey{
    color: $light-grey !important;
}
.dash-white{
    border: 1px solid #f4f5f6;
    width: 280px;
    height: 0px;
}
.dash-yellow{
    border: 1px solid $yellow;
    width: 340px;
    height: 0px;
}
@media screen and (max-width: 768px) {
.productName-text{
    font-size: .8rem;
}
.productPrice-text{
    font-size: .8rem;
}
}
.no-bullets{
    list-style-type: none;
}
.pointer-cursor{
    cursor:pointer;
}